/*HEADER*/
header .navbar-brand{
  font-size: 40px;
  color: white;
}
header .navbar-brand .navbar-link{
  color:white
}
header section nav{
  background-color: rgb(189, 161, 125);
}
header section nav:hover{
  background-color: grey;
}

/*MAIN*/
.col{
  background-color: rgb(189, 161, 125);
}

/*FOOTER*/
footer{
  background-color: gray;
}
footer h2{
  font-size: 40px;
  color: white;
  margin: 10px;
}
.pieDePagina{
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
.pieDePagina li a{
  color: white;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
}