/*MAPAS*/
$colores:(
    color1: rgb(189, 161, 125),
    color2: black,
    color3: white,
    color4: grey,
)
;

/*FUENTES*/
$fuentes:(
    sm:16px,
    md:25px,
    lg:30px,
    sm-titulos: 40px,
    md-titulos: 48px,
    lg-titulos:48px,
)
;
